{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows Search{% endblock %}
{% block content %}
<h3>Number of search results for "{{ search_term }}" in upcoming shows: {{ results.upcoming_shows_count }}</h3>
<ul class="items">
	<h4> Matches in Venue: </h4>
	{% for venue in results.upcoming_venue_data %}
	<li>
		<a href="/venues/{{ venue.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ venue.name }} : Show start time: {{venue.start_time }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
<ul class="items">
	<h4> Matches in Artist: </h4>
	{% for artist in results.upcoming_artist_data %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ artist.name }} : Show start time: {{artist.start_time}}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
<h3>Number of search results for "{{ search_term }}" in past shows: {{ results.past_shows_count }}</h3>
<ul class="items">
	<h4> Matches in Venue: </h4>
	{% for venue in results.past_venue_data %}
	<li>
		<a href="/venues/{{ venue.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ venue.name }} : Show start time: {{venue.start_time }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
<ul class="items">
	<h4> Matches in Artist: </h4>
	{% for artist in results.past_artist_data %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ artist.name }} : Show start time: {{artist.start_time}}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}
